[submodule "vim/.vim/bundle/pathogen"]
	path = vim/.vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/.vim/bundle/airline"]
	path = vim/.vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "vim/.vim/bundle/json"]
	path = vim/.vim/bundle/json
	url = https://github.com/vim-scripts/vim-json-bundle
[submodule "vim/.vim/bundle/markdown"]
	path = vim/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/.vim/bundle/gitgutter"]
	path = vim/.vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/.vim/bundle/solarized"]
	path = vim/.vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/.vim/bundle/dwm"]
	path = vim/.vim/bundle/dwm
	url = https://github.com/spolu/dwm.vim
[submodule "vim/.vim/bundle/javascript"]
	path = vim/.vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/.vim/bundle/airline-themes"]
	path = vim/.vim/bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/.vim/bundle/applescript"]
	path = vim/.vim/bundle/applescript
	url = https://github.com/dearrrfish/vim-applescript
[submodule "vim/.vim/bundle/typescript"]
	path = vim/.vim/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/.vim/bundle/jsx"]
	path = vim/.vim/bundle/jsx
	url = https://github.com/MaxMEllon/vim-jsx-pretty.git
